In [1]:
import pandas as pd

In [2]:
lille_folium = pd.read_csv('lille_folium.csv', dtype={'CODGEO': 'string'})

In [3]:
lille_folium.dtypes

REG           int64
DEP           int64
CODGEO       string
LIBGEO       object
AAV20         int64
LIBAAV2      object
CATEAAV       int64
LIBCATE      object
TAAV20        int64
LIBTAAV      object
geometry     object
TP6020      float64
dtype: object

In [4]:
lille_folium.head()

,REG,DEP,CODGEO,LIBGEO,AAV20,LIBAAV2,CATEAAV,LIBCATE,TAAV20,LIBTAAV,geometry,TP6020
0,32,59,59004,Aix-en-Pévèle,4,Lille (partie française),20,Commune de la couronne,4,Aire de 700 000 habitants ou plus (hors Paris),"POLYGON ((3.30066713038037 50.48727603709588, ...",NaN
1,32,59,59005,Allennes-les-Marais,4,Lille (partie française),20,Commune de la couronne,4,Aire de 700 000 habitants ou plus (hors Paris),POLYGON ((2.9632207383121996 50.52788369731953...,NaN
2,32,59,59009,Villeneuve-d'Ascq,4,Lille (partie française),12,Autre commune du pôle principal,4,Aire de 700 000 habitants ou plus (hors Paris),POLYGON ((3.1379398906166807 50.60120290774355...,20.0
3,32,59,59011,Annoeullin,4,Lille (partie française),20,Commune de la couronne,4,Aire de 700 000 habitants ou plus (hors Paris),POLYGON ((2.9268652613093193 50.50780704062396...,10.0
4,32,59,59013,Anstaing,4,Lille (partie française),20,Commune de la couronne,4,Aire de 700 000 habitants ou plus (hors Paris),POLYGON ((3.1921439736945003 50.59329505025182...,NaN

In [5]:
lille_folium = lille_folium.drop('TP6020', axis=1)

In [6]:
data_lille = pd.read_csv('data_lille.csv', dtype={'CODGEO': 'string'})

In [7]:
data_lille.head()

,CODGEO,Taux_chomage,taux_sans_diplome,taux_maison_princ,taux_loc_princ,taux_inactifs,salaire_ouvrier,salaire_employe,TP6020
0,01004,14.77,19.36,42.45,52.76,14.99,11.772666,11.259209,17.0
1,01007,7.61,13.33,84.69,24.29,12.18,12.520221,11.917058,7.0
2,01014,13.98,32.39,65.78,34.89,16.51,11.848787,12.175141,10.0
3,01025,7.14,18.07,95.18,13.92,12.42,12.400297,11.663794,6.0
4,01031,14.99,31.01,35.29,58.31,17.40,11.759778,11.474574,19.0

In [8]:
data_lille.head()

,CODGEO,Taux_chomage,taux_sans_diplome,taux_maison_princ,taux_loc_princ,taux_inactifs,salaire_ouvrier,salaire_employe,TP6020
0,01004,14.77,19.36,42.45,52.76,14.99,11.772666,11.259209,17.0
1,01007,7.61,13.33,84.69,24.29,12.18,12.520221,11.917058,7.0
2,01014,13.98,32.39,65.78,34.89,16.51,11.848787,12.175141,10.0
3,01025,7.14,18.07,95.18,13.92,12.42,12.400297,11.663794,6.0
4,01031,14.99,31.01,35.29,58.31,17.40,11.759778,11.474574,19.0

In [9]:
lille_all_data = lille_folium.merge(data_lille, on='CODGEO', how='left')

In [10]:
lille_folium.shape

(201, 11)

In [11]:
lille_all_data.shape

(201, 19)

In [12]:
lille_all_data.to_csv('../lille_all_data.csv', index=False)

In [13]:
lille_all_data.head()

,REG,DEP,CODGEO,LIBGEO,AAV20,LIBAAV2,CATEAAV,LIBCATE,TAAV20,LIBTAAV,geometry,Taux_chomage,taux_sans_diplome,taux_maison_princ,taux_loc_princ,taux_inactifs,salaire_ouvrier,salaire_employe,TP6020
0,32,59,59004,Aix-en-Pévèle,4,Lille (partie française),20,Commune de la couronne,4,Aire de 700 000 habitants ou plus (hors Paris),"POLYGON ((3.30066713038037 50.48727603709588, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32,59,59005,Allennes-les-Marais,4,Lille (partie française),20,Commune de la couronne,4,Aire de 700 000 habitants ou plus (hors Paris),POLYGON ((2.9632207383121996 50.52788369731953...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32,59,59009,Villeneuve-d'Ascq,4,Lille (partie française),12,Autre commune du pôle principal,4,Aire de 700 000 habitants ou plus (hors Paris),POLYGON ((3.1379398906166807 50.60120290774355...,17.85,13.98,42.15,51.94,23.66,10.900231,11.269702,20.0
3,32,59,59011,Annoeullin,4,Lille (partie française),20,Commune de la couronne,4,Aire de 700 000 habitants ou plus (hors Paris),POLYGON ((2.9268652613093193 50.50780704062396...,12.51,23.71,77.71,25.82,21.22,11.395098,11.778428,10.0
4,32,59,59013,Anstaing,4,Lille (partie française),20,Commune de la couronne,4,Aire de 700 000 habitants ou plus (hors Paris),POLYGON ((3.1921439736945003 50.59329505025182...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN